@media handheld and (max-width: 700px){
    .spnPortifolio {
        font-size: 10px;
    }

    .margin {
        width: 5%;
        height: 10px;
        display: flex;
        align-items: center;
        position: fixed;
    }
    .toolBar{
        cursor: pointer;
        position: relative;
        font-size: 14px;
        color: #ff0000;
        text-decoration: none;
    }
}
