@media (max-width: 700px){
    .spnPortifolio {
        font-size: 10px;
    }
    body{
        width: 100%;
    }
    .margin {
        width: 5%;
        height: 10px;
        display: flex;
        align-items: center;
        position: fixed;
    }
    .toolBar{
        cursor: pointer;
        position: relative;
        font-size: 14px;
        color: #ff0000;
        text-decoration: none;
    }
}


@media (max-width: 700px){
    #home{
        height: 1000px;
        border: 1px solid blue;
    }
    .containerPg1{
        border: 1px solid yellow;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 10%;
    }
    .containerTituloBody{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid red;
    }
    .descTituloBody{
        border: 1px solid blue;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .containerAvatar{
        margin-top: 40px;
    }


    
    .sobreMim{
        margin-top: 20px;
        font-size: 1.6rem;
        font-family: Archivo;
        color: #ffffffa8;
        border: 1px solid blue;
    }
    .containerPg2{
        border: 1px solid blue;
        width: 100%;
    }
    .containerBox{
        height: 1000px;
    }
}
